.row {
  display: block;
  width: 100%;
  padding: 6px 8px;
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }

  &[data-checked] {
    background-color: var(--mantine-primary-color-light);
  }

  &:focus-visible {
    outline: 2px solid var(--mantine-primary-color-filled);
    outline-offset: -2px;
  }
}
